<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TVA</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/snt0gim.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->


</head>

<body class="wrapper" style=" background-color:#1f3827 ">
  <div class="container">
    <div class="px-4 py-5 my-5 text-center">
      <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Variants</button>
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Data Analysis</button>
        </div>
      </div>
    </div>
  </div> 
  <div class="album py-5">
    <div class="container" >
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-12 shadow-sm">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">How much revenue did Loki earn Marvel per minute of screentime?</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card mb-12 shadow-sm">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Was the opening weekend revenue a predictor of total box office revenue?</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card mb-12 shadow-sm">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Which Marvel film made the most per minute of runtime?</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-12 shadow-sm">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Which Marvel film was most popular is the USA vs the world?</p>
              </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-12 shadow-sm">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Which Marvel film series was most popular is the USA vs the world?</p>
              </div>
            </div>
        </div>
    </div>  
  <div class="container">
    <hr>
    <img src="../static/images/TVA_logo.png" alt="TVA logo" class="logo">
  </div>  
  
    
  
    
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- 
Thor – 21 minutes 15 seconds
The Avengers – 21 minutes 30 seconds
Thor: The Dark World – 17 minutes 30 seconds
Thor: Ragnarok – 13 minutes 30 seconds
Avengers: Infinity War – 3 minutes 45 seconds
Avengers: Endgame — 1 minute 
https://www.imdb.com/list/ls066620113/?sort=release_date,desc&st_dt=&mode=detail&page=1
-->