.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-bottom: 50px;
}

.wrapper {
    background-color:#1f3827;
    background-image: url("../images/halftone.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: color-dodge;
    height: 100%;
}


.bkgnd {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.img-fluid {
    height: 100%;
}

.bkimage {
    position: relative;
}

.tvtext {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 97px;
    color:#fd5409;
    font-family: interstate-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center; 
}

h2 {
    font-size: 46px;
    color: #6c757d;
    font-family: interstate-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

h3 {
    font-size: 18px;
    color:rgb(255, 255, 255);
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h4 {
    font-size: 24px;
    color:rgba(131, 189, 25, 0.886);
    font-family: interstate,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
  
h5 {
    font-size: 2.75vw;;
    color:rgb(161, 247, 227);
    font-family: lores-12-narrow,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}
h6 {
    font-size: 2.25vw;
    color:rgb(161, 247, 227);
    font-family: lores-12-narrow,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}
.neon {
    color: #fff;
    text-shadow:
      0 0 3px #65836e,
      0 0 9px #7e9e88;
  }

p {
    font-size: 12px;
    color:#fff;
    font-style: normal;
    text-align: center;
}
small {
    color:#6c757d;
}

#inlineFormInput {
    font-family: interstate-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
}

#buttontext  {
    font-family: interstate-condensed,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.btn-primary {
    color:#fff;
    background-color:#2c4b36;
    border-color:#2c4b36
}

.btn-primary:hover {
    color:#fff;
    background-color:#fd5409;
    border-color:#fd5409}


.card-text {
    /* font-family: interstate-condensed,sans-serif; */
    font-weight: 500;
    font-style: normal;
    color:rgb(109, 109, 109);

}

a:link {
    color: rgb(250, 209, 165);
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: rgb(250, 209, 165);
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: #fd5409;
    background-color: transparent;
    text-decoration: underline;
  }

.card {
    float: none; 
}

.card-header {
    background-color: #dbe9b6;
}